$red: #e41c26;

%sf-400 {
    font-family: "SFProDisplay", sans-serif;
    font-weight: 400;
}
%sf-700 {
    font-family: "SFProDisplay", sans-serif;
    font-weight: 700;
}
%ft-400 {
    font-family: "FuturaLT", sans-serif;
    font-weight: 400;
}
%ft-500 {
    font-family: "FuturaMediumC", sans-serif;
    font-weight: 500;
}
%ft-700 {
    font-family: "FuturaLT", sans-serif;
    font-weight: 700;
}